{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block meta_tags %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:url" content="{{ article.url }}"/>
<meta property="og:description" content=" {{ article.meta_description }}" />
<meta property="og:type" content="article" />
<meta property="og:author" content="{{ article.author }}" />
{% endblock %}


{% block content %}
<div class="ui text container center aligned article-top">
    <h1 class="ui header article-huge">{{ article.title }}</h1>
    {% if article.subtitle %}
    <h3 class="ui header">{{ article.subtitle }}</h3>
    <span class="ui author">توسط {{ article.author }} در {{ article.date.strftime('%d %B %Y')}}</span>
    {% endif %}
</div>
<div class="ui text container tall stacked segment">
    <div class="overlay">
        <div class="ui labeled icon vertical menu">
            <a class="item sharer" data-sharer="twitter" data-title="{{ article.title}}" data-url="{{ SITEURL}}/{{ article.url }}" style="color:#00ACED !important">
                <i class="twitter icon"></i>
            </a>
            <a class="item sharer" data-sharer="facebook" data-url="{{ SITEURL}}/{{ article.url }}" style="color:#3B5998 !important" >
                <i class="facebook icon"></i>
            </a>
            <a class="item sharer" data-sharer="googleplus" data-url="{{ SITEURL}}/{{ article.url }}" style="color: #DD4C39 !important">
                <i class="google plus icon"></i>
            </a>
            <a class="item sharer" data-sharer="linkedin" data-url="{{ SITEURL}}/{{ article.url }}" style="color:#3B5998 !important">
                <i class="linkedin icon"></i>
            </a>
        </div>
    </div>
    {{ article.content }}
    <span class="ui author">توسط <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> در {{ article.date.strftime('%d %B %Y')}}</span>
    {% if DISQUS_SITENAME %}
    {% include 'disqus.html' %}
    {% endif %}
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/sharer.js/0.2.4/sharer.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/codemirror/mode/python/python.js"></script>
<script type="text/javascript">
    CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {
            name: "text/x-cython",
            version: 2,
            singleLineStringErrors: false
        },
        rtlMoveVisually:true,
        readOnly:true,
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
        theme:'monokai'
    });
</script>
{% endblock %}

{% block extra_link_css %}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/codemirror/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/codemirror/theme/monokai.css">
{% endblock extra_link_css %}

{% block theme_css %}
{% include "semantic_css.html" %}
{% endblock theme_css %}
{% block theme_js %}
{% include "semantic_js.html" %}
{% endblock theme_js %}