<div class="ui link four column doubling stackable cards">
    <!-- list posts -->
    {% for article in (articles_page.object_list if articles_page else articles) %}
        <div class="card filtr-item" data-category="{{ article.tags | join(', ') }}">
            <div class="content">
                <div class="header">{{ article.title }}</div>
                <div class="meta">{{ article.date.strftime('%d %b %Y') }}</div>
                <div class="description">
                    <p>
                        {{ article.summary }}
                    </p>
                </div>
            </div>
            <div class="extra content">
                <i class="comment outline icon"></i>
                0
                <div class="ui divider"></div>
                {% for tag in article.tags %}
                    <a class="ui label" style="margin-top:10px;direction:ltr;">
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>