{% block footer %}
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
            <div class="eight wide column">
                {% if LINKS %}
                    <h4 class="ui inverted header">Links</h4>
                    <div class="ui inverted link list">
                        {% for item, url in LINKS %}
                        <a href="{{ url }}" class="item">{{ item }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

