<div class="ui red inverted massive menu">
    <div class="header item">
        <i class="terminal icon"></i>
    </div>
    <div class="right menu">
        {% for item, url in MENU_LINKS %}
            <a href="{{ url }}" class="item">{{ item }}</a>
        {% endfor %}
        <div class="item">
            <div class="ui mini inverted transparent icon input">
                <input type="text" name="search" placeholder="جست و جوی تگ‌ها..." data-search>
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>