<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/yekan-font.css">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/rtl.css">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/semantic.rtl.min.css">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/custom.css">
<link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
