{% extends "base.html" %}

{% block title %}تگ‌ها - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="ui grid main container">
    <div class="ui container">
        {% if tags %}
        <div class="ui styled accordion fluid">
            {% for tag, articles in tags|sort %}
            <div class="item">
                <div class="title">
                    <i class="dropdown icon"></i>
                    <span class="ui label green" style="direction:ltr;">{{ tag|title }}</span>
                    <span class="ui label red" style="float:left;">{{ articles|count }}</span>
                </div>
                <div class="content">
                    {% for article in articles %}
                    <div class="ui three column grid">
                        <div class="two wide column">
                           <i class="icon calendar"></i> {{ article.date | jDate('%d %B %Y') }}
                        </div>
                        <div class="fourteen wide column harmattan-font">
                            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h3 class="ui header">No tags</h3>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block extra_scripts %}
<script type="text/javascript">
    $('.ui.accordion').accordion();
</script>
{% endblock %}
{% block theme_css %}
{% include "semantic_css.html" %}
{% endblock theme_css %}
{% block theme_js %}
{% include "semantic_js.html" %}
{% endblock theme_js %}
